:root {
    --main-font: 'Graphik LCG';

    --black: #1d1d1d;
    --grey: #BFBFBF;
    --grey-light: #fbfbfb;
    --blue: #0066FF;
    --yellow: #FFC700;
    --green: #1DC302;
    --red: #EF4339;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
}

.container {
    width: 320px;
    height: 515px;
    padding: 24px 16px;
}

.filter-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
}

.info-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 178px;
}

.hug-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
}

.green-hug {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    gap: 10px;
    background: #1DC302;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

.hug-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
}

.address-top {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(29, 29, 29, 0.5);
}

.working-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
}

.working-block h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: var(--black);
}

.working-time {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.working-address span {
    display: block;
    color: rgba(29, 29, 29, 0.5);
}

.road-link {
    color: #0066FF;
}

.active-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}

.station-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 4px;
    background: #FBFBFB;
    border-radius: 0 2px 2px 0;
    width: 100%;
}

.station-info:before {
    content: '';
    width: 2px;
    height: 36px;
    background: #BFBFBF;
}

.id-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 0;
    color: var(--black);
}
.count-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    color: var(--black);
}
.count-info span {
    color: #1DC402;
}

.station-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    gap: 10px;
    width: 36px;
    height: 36px;
}

.wrapper {
    min-height: 100%;
}

#map {
    min-height: 100vh;
}

.controls {
    position: fixed;
    bottom: 66px;
    right: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
}

.filters {
    display: none;
    padding: 24px 14px;
    background-color: #fff;
    border-radius: 24px;
    max-width: 320px;
    margin-bottom: 30px;
    width: 100%;
}
.filters.active {
    display: block;
}
.filters-title {
    color: var(--black);
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.filters-list {
    margin-top: 16px;
}
.filter-item {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.filter-item:not(:last-child) {
    margin-bottom: 16px;
}
.filter-item .text {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    user-select: none;
}
.filter-item svg {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}
.filter-item .text span {
    margin-top: 2px;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
}
.filter-item .switcher {
    background: var(--grey);
    width: 52px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    flex-shrink: 0;
    margin-left: 20px;
    transition: .3s;
}
.filter-item .switcher::before {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    transition: .3s;
    position: absolute;
    top: 2px;
    left: 2px;
}
.filter-item input:checked ~ .switcher {
    background-color: var(--blue);
}
.filter-item input:checked ~ .switcher::before {
    left: 22px;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px rgba(29, 29, 29, 0.1);
    background-color: #fff;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    border: 0;
    cursor: pointer;
}
.control-btn:not(:last-child) {
    margin-bottom: 10px;
}
.control-btn svg {
    width: 32px;
    height: 32px;
}

.object {
    position: fixed;
    top: 74px;
    left: 30px;
    background-color: #fff;
    border-radius: 24px;
    width: 100%;
    max-width: 320px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    line-height: 14px;
}
.object-controls {
    position: absolute;
    z-index: 2;
    right: 18px;
    top: 27px;
    display: flex;
    align-items: center;
}
.object-controls button {
    color: #979797;
    border: 0;
    background-color: transparent;
}
.object-controls button:not(:last-child) {
    margin-right: 16px;
}
.object-power {
    font-weight: 500;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
}
.object-power.green {
    background-color: var(--green);
}
.object-plugs {
    margin-top: 8px;
    opacity: .5;
}
.object-title {
    margin-top: 12px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
}
.object-worktime {
    margin-top: 8px;
}
.object-address {
    margin-top: 8px;
    opacity: .5;
    font-style: normal;
}
.object-phone {
    margin-top: 8px;
    opacity: .5;
    text-decoration: none;
    color: var(--black);
}
.object-roadmap {
    margin-top: 12px;
    color: var(--blue);
    text-decoration: none;
}
.object-prices {
    margin-top: 12px;
    line-height: 2;
}
.object-annotation {
    margin-top: 12px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--grey-light);
}
.object-availability {
    margin-top: 12px;
}
.availability-item {
    display: flex;
    padding: 4px;
    border-radius: 2px;
    border-width: 0;
    border-left-width: 1px;
    border-style: solid;
}
.availability-item:not(:last-child) {
    margin-bottom: 8px;
}
.availability-item.grey {
    border-color: var(--grey);
    background: var(--grey-light);
}
.availability-item.red {
    border-color: var(--red);
    background-color: rgba(239, 67, 57, 0.04);
}
.availability-item.green {
    border-color: var(--green);
    background: rgba(29, 195, 2, 0.04);
}
.availability-item .plug {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.availability-item .plug svg {
    max-width: 28px;
    max-height: 28px;
    display: block;
}
.availability-item .text {
    display: flex;
    flex-wrap: wrap;
}
.availability-item .title {
    width: 100%;
}
.availability-item .amount {
    margin-right: 8px;
}
.availability-item .power {
    font-weight: 500;
    color: var(--green);
}

/* gmaps */
.gm-style {
    font-family: var(--main-font);
}
.gm-style * {
    font-family: inherit;
}